%p#notice= notice
%h1 Notes
%table
  %thead
    %tr
      %th Title
      %th Note
      %th{:colspan => "3"}
  %tbody
    - @notes.each do |note|
      %tr
        %td= note.title
        %td= note.note
        %td= link_to 'Show', note
        %td= link_to 'Edit', edit_note_path(note)
        %td= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }
%br/

#content
= react_component("ReactMarkDown", prerender: false) 

= link_to 'New Note', new_note_path
