!!!
%html
  %head
    %title Todo Events
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -# = javascript_pack_tag 'hello-world-bundle'
  %body
    = render 'layouts/navbar'
    = yield
